body{
    font-family: 'Open Sans', sans-serif;
    padding: 3%;

}

h1{
    text-transform: uppercase;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.h1-span{
    color: darkred;
    font-size: 42px;
}

h2{
    padding-left: 1%;

}

h4{
    padding-left: 2%;
}